#User_profile {
    position: absolute;
    top: 25px;
    height: 12vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    background-image: url(/ASSETS/yin_yang.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#View_Side_Container{
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    top: 12px;
    left: -158px;
}

#Options_content {
    position: absolute;
    /* background-color: azure; */
    top: 28px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
    right: 5%;
}


.Options {
    position: relative;
    display: none;
    justify-content: space-between;
    column-gap: 10px;
    right: 8.5px;
    width: 100%;
}

#Option_button:hover {
    cursor: pointer;
}

.show{
    display: flex;
}

/* #Options_line {

} */


#Options_buttons {
    box-sizing: border-box;
    /* position: absolute; */
    top: 30px;
    right: 30px;
    width: max-content;
    height: calc(25px + 7px + 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#Options_buttons button {
    box-sizing: border-box;
    height: 25px;
    font-family: "Roboto";
    font-size: 11px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #354251;
}

#Options_buttons button:hover {
    cursor: pointer;
    transition-delay: 80ms;
    transition-duration: 150ms;
    color: black;
    background-color: #B0D37A;
}

#Option_storage_button {
    width: 64px;
}

#Option_clear_chat_button{
    width: 77px;
}

#Chat_box {
    box-sizing: border-box;
    position: absolute;
    background-color: #1C2B3B;
    border-radius: 7px;
    bottom: 100px;
    width: 92%;
    /* height: 70%; */
    /* height: 28.5rem; */
    height: 63vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    align-items: end;
    /* justify-content: end; */
    /* justify-content: start; */
    /* justify-items: end; */
    row-gap: 6px;
    overflow: auto;
}

#Chat_box::-webkit-scrollbar {
    background: #1C2B3B;
    border-radius: 5px;
    width: 5px;
}

#Chat_box::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 10px;
    background-color: #354251;
}

#Message_input_box {
    position: absolute;
    bottom: 25px;
    /* height: 45px; */
    height: 5.6vh;
    width: 82%;
    border-radius: 34px;
    background-color: #354251;
    border: 1px solid #4F5A68;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#User_icon {
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 10px;
    background-color: aliceblue;
    background-image: url(/ASSETS/yin_yang.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Message_texts {
    box-sizing: border-box;
    height: 38px;
    width: 88%;
    resize: none;
    color: #B0D37A;
    background-color: transparent;
    border: none;
    padding: 11px 12px;
    line-height: 135%;
    /* overflow: auto; */
    /* scroll-behavior: auto; */
    /* letter-spacing: 1.5px; */
}
#Message_texts::-webkit-scrollbar {
    background: #2a3949;
    width: 1px;
}
#Message_texts:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
#Message_texts::placeholder{
    color: #868D97;
}

#Send_button {
    margin: 10px 23px 10px 7px;
    background-color: transparent;
    border: none;
}